.col-md-12
  %ul.social
    %li
      %a{ href: '#', title: 'Facebook' }
        %span.fa.fa-facebook-square
    %li
      %a{ href: '#', title: 'Twitter' }
        %span.fa.fa-twitter-square
    %li
      %a{ href: '#', title: 'Pinterest' }
        %span.fa.fa-pinterest-square
    %li
      %a{ href: '#', title: 'YouTube' }
        %span.fa.fa-youtube-square
    %li
      %a{ href: '#', title: 'Instagram' }
        %span.fa.fa-instagram
    %li
      %a{ href: '#', title: 'LinkedIn' }
        %span.fa.fa-linkedin-square.fa-5x
    %li
      %a{ href: '#', title: 'GitHub' }
        %span.fa.fa-github-square.fa-5x