html {
  font-size: 14px;
}

body {
  background-color: #F3FFE2;
  color: #374140;
}

#header {
  //background-color: #4F8C92;
}

.logo {
  font-family: 'Alegreya SC', serif;
  color: #225378;
}

.social {
  list-style: none;
  font-size: 3rem;
  li {
    display: inline-block;
  }
}